@media only screen and ( min-width: 1320px ) {
/*===============================================

	M O N I T O R
	1320px/unlimited

===============================================*//**/
/**/}


@media only screen and ( min-width: 960px ) and ( max-width: 1319px ) {
/*===============================================

	T A B L E T   /   L A P T O P
	960px/1319px

===============================================*//**/

/*

	1 - LAYOUT

		- Header
		- Content
		- Footer

	2 - MENU

		- Primary
		- Secondary

	3 - SIDEBARS

		- Sidebar
		- Footer

	5 - COMMON

		- Titles
		- Attachment
		- Quotes
		- Fieldset

	6 - POSTS

		- Featured

	7 - WIDGETS

	8 - BUDDYPRESS

	9 - ICONS

		- Social

	10 - SHORTCODES

	11 - POST

	12 - SPECIAL

	13 - PAGINATION

	14 - ARCHIVE

	15 - BBPRESS

	16 - COMMENTS

	17 - 404

	18 - WOOCOMMERCE
	
	19 - FROMS

	20 - PROJECTS

	21 - FORMATS

	22 - WP REVIEW

*/

	/*===========================================
		L A Y O U T
	===========================================*/

	.boxed #layout {
		max-width: 985px;
	}

	/*--- Header ------------------------------*/

	#header {
	}

		#header-holder {
		}
	
			#logo {
				width: 215px;
				height: 67px;
				margin: 0 25px 0 0;
			}
	
				#logo h2 {
					max-width: 215px;
				}
	
		#header-holder-2 {
			width: 935px;
		}

	/*--- Content -----------------------------*/

	#content-layout {
		width: 935px;
	}

		#content-box {
			padding-top: 25px;
			padding-bottom: 25px;
		}

			/* If sidebar not exixts (full width) */
			.page-template-template-frontpage-php .sidebar-secondary-inactive.sidebar-position-none #content-box {
				width: 935px;
			}

			/* If sidebar by right */
			.sidebar-position-right #content-box {
				width: 610px;
			}
	
			/* If sidebar by left */
			.sidebar-position-left #content-box {
				width: 610px;
			}
	
				/* For single */
				div.post-single {
				}

				/* If sidebar none */
				.sidebar-position-none div.post-single {
				}
	
			/* If sidebar by none */
			.sidebar-position-none #content-box {
				width: 610px;
			}
	
				/* If single */
				.single .sidebar-position-none #content-box {
					width: auto;
				}
	
				/* If the Secondary sidebar available */
				.sidebar-secondary-available #content-box > div > div:first-child {
					width: 359px;
				}
	
					#article {
						padding: 25px;
					}

						.sidebar-position-right #article.sidebar-post-enabled,
						.sidebar-position-none #article.sidebar-post-enabled {
							padding-left: 170px;
						}
				
						.sidebar-position-left #article.sidebar-post-enabled {
							padding-right: 170px;
						}

			/* Frontpage v.2 */
			#article-frontpage-2 {
				margin-bottom: 25px;
			}

	/*--- Footer ------------------------------*/

	#footer-holder {
		width: 935px;
	}

		#copyrights-holder {
			width: 885px;
		}


	/*===========================================
		M E N U
	===========================================*/

	/*--- Primary -----------------------------*/

	#menu {
		width: 935px;
	}

	.boxed #menu.menu-sticky {
		width: 985px;
	}

		#menu-box {
			width: 695px;
			height: 67px;
		}

			ul.menu > li > a {
				height: 67px;
				font-size: 14px;
				padding: 0 15px;
			}

				ul.menu > li > a > span.subline {
					display: none;
				}

				ul.menu > li.hasUl > a {
					padding-right: 35px;
				}

					.gecko ul.menu > li.hasUl > a:before {
						margin-top: 0;
					}

					ul.menu ul li a {
						font-size: 12px;
						padding: 10px;
					}

						ul.menu ul li.hasUl > a:before {
							margin-top: 0.75em;
						}

						ul.menu ul li span.subline {
							line-height: 1.352em;
							margin-top: 0;
						}

		#menu.menu-sticky > div > div {
			width: 935px;
		}

	/*--- Secondary ---------------------------*/

	#menu-2 {
	}


	/*===========================================
		S I D E B A R S
	===========================================*/

	/*--- Sidebar -----------------------------*/

	#sidebar {
		padding: 25px 0 0;
	}

		.widget {
			margin-bottom: 25px;
		}

	/*--- Ad Sidebars -------------------------*/

	.sidebar-ad-a {
		width: 935px;
	}

		.sidebar-ad-a .widget,
		.sidebar-ad-a .textwidget img {
			max-width: 935px;
		}

	.sidebar-ad-b {
		margin-top: 25px;
		padding: 0;
		border: none;
	}

		.sidebar-ad-b .widget,
		.sidebar-ad-b .textwidget img {
			max-width: 935px;
			margin-bottom: 0;
		}

	#sidebar-ad-c {
		width: 935px;
	}

		#sidebar-ad-c .sidebar-ad-c {
			margin-bottom: 25px;
			padding: 0;
			border: none;
		}

			.sidebar-ad-c .widget,
			.sidebar-ad-c .textwidget img {
				max-width: 935px;
				margin-bottom: 0;
			}

	/*--- Footer ------------------------------*/

	.sidebar-footer > div {
		margin-top: 25px;
		margin-right: 25px;
		margin-bottom: 25px;
	}

		/*- 1/3 + 1/3 + 1/3 -*/
	
		.footer-box-v1 .sidebar-footer {
			width: 320px;
		}
	
		.footer-box-v1 .sidebar-footer.last {
			width: 295px;
		}

		/*- 1/4 + 1/4 + 1/2 -*/
	
		.footer-box-v2 .sidebar-footer {
			width: 240px;
		}
		
		.footer-box-v2 .sidebar-footer.last {
			width: 455px;
		}

		/*- 1/4 + 1/2 + 1/4 -*/
	
		.footer-box-v3 .sidebar-footer {
			width: 480px;
		}
		
		.footer-box-v3 .sidebar-footer:first-child {
			width: 240px;
		}
	
		.footer-box-v3 .sidebar-footer.last {
			width: 215px;
		}

	/*- 1/2 + 1/4 + 1/4 -*/

	.footer-box-v4 .sidebar-footer {
		width: 240px;
	}
	
	.footer-box-v4 .sidebar-footer:first-child {
		width: 480px;
	}

	.footer-box-v4 .sidebar-footer.last {
		width: 215px;
	}

	/*- 1/4 + 1/4 + 1/4 + 1/4 -*/

	.footer-box-v5 .sidebar-footer {
		width: 240px;
	}
	
	.footer-box-v5 .sidebar-footer.last {
		width: 215px;
	}

	/*- 2/3 + 1/3 -*/

	.footer-box-v6 .sidebar-footer {
		width: 295px;
	}

	.footer-box-v6 .sidebar-footer:first-child {
		width: 640px;
	}

	/*--- Frontpage Sidebars-------------------*/

	#sidebar-homepage-box {
	}

		#sidebar-homepage-box .sidebar-homepage > div {
			margin: 0 25px 25px 0;
		}

			/*- 1/4 + 1/4 + 1/4 + 1/4 -*/
		
			#sidebar-homepage-box .sidebar-homepage {
				width: 240px;
			}
			
			#sidebar-homepage-box .sidebar-homepage.last {
				width: 215px;
			}

	/*--- Post Sidebar ------------------------*/

	/* Post Sidebar by left side */
	.sidebar-position-right div.sidebar-post,
	.sidebar-position-none div.sidebar-post {
		left: 25px;
	}
	
	/* Post Sidebar by right side */
	.sidebar-position-left div.sidebar-post {
		right: 25px;
	}


	/*===========================================
		C O M M O N
	===========================================*/

	/*--- Titles -----------------------------*/

	h1 {
		font-size: 2.4em;
	}

	h2 {
		font-size: 1.8em;
	}

	h3 {
		font-size: 1.4em;
	}

	h4 {
		font-size: 1.2em;
	}

	h5 {
		font-size: 1em;
	}

	/*--- Attachment -------------------------*/

	.wp-caption.alignleft {
		margin-left: -30px;
	}

	.wp-caption.alignright {
		margin-right: -30px;
	}

	/*--- Quotes -----------------------------*/

	blockquote p {
		line-height: 1.535em;
	}

	/*--- Fieldset ---------------------------*/

	fieldset {
		padding: 10px 15px;
	}


	/*===========================================
		P O S T S
	===========================================*/

	.post-template {
		margin-bottom: 25px;
		padding-bottom: 25px;
	}

	/*--- Default -----------------------------*/

	.post-default {
		padding-top: 25px;
		padding-bottom: 0;
	}

		.post-default:first-child {
			padding-top: 0;
		}
	
			.post-default .post-title {
				font-size: 1.7em;
			}
	
				.sticky.post-default .post-title:before {
					margin: 0 0 0.5em;
				}
	
			.post-default .meta {
				margin: 15px 0;
			}
	
			.post-default .content-data {
				padding: 25px;
		}

	/*--- Post t6 -----------------------------*/

	.post-template.post-t6 {
	}

		.post-t6 {
		}
	
			.post-t6 .thumb-wrapper {
			}
	
			.post-t6-details {
			}

				.v2 .post-t6-yes-thumb .post-t6-details {
					max-height: 158px;
				}
	
			.post-t6-more {
			}
	
			/* If sidebar available */
			.sidebar-secondary-available .post-template.post-t6 {
				padding-bottom: 48px;
			}

				.sidebar-secondary-available .post-t6 {
					width: auto;
					height: auto;
				}
			
					.sidebar-secondary-available .post-t6 .thumb-wrapper {
						margin: 48px 0 0 48px;
					}

					.sidebar-secondary-available .post-t6-details {
						max-height: none;
						padding: 25px 48px 0;
					}

						.sidebar-secondary-available .post-t6-details:after {
							display: none;
						}

					.sidebar-secondary-available .post-t6-more {
						margin: 0 0 0 48px;
					}

			/* If sidebar disable */
			.sidebar-secondary-inactive .post-t6.even {
				float: right;
				margin: 0 30px 55px 0;
			}

				.sidebar-secondary-inactive.sidebar-position-left .post-t6.even {
					margin: 0 0 55px 30px;
				}

			.sidebar-secondary-inactive .post-t6.odd {
				float: left;
				margin: 0 0 55px 0;
			}

				.sidebar-secondary-inactive.sidebar-position-left .post-t6.odd {
					margin: 0 0 55px 30px;
				}

			/* W/out thumbnail */
			.post-t6-no-thumb {
			}

				.sidebar-secondary-available .post-t6-no-thumb:after {
					display: none;
				}
	
					.sidebar-secondary-available .post-t6-no-thumb .post-t6-details {
						max-height: none;
					}
	
						.post-t6-no-thumb h3 {
						}
	
					.sidebar-secondary-available .post-t6-no-thumb .meta {
						max-height: none;
						margin: 15px 0 0 48px;
					}

			/* On frontpage v.2 */
			.v2 .post-t6 {
				width: 215px;
				margin-right: 25px;
			}

				.v2 .post-t6 .thumb-wrapper {
					width: 215px;
				}

					.v2 .post-t6 a.post-thumb {
						height: 147px;
					}

	/*--- Sticky ------------------------------*/

	.posts-sticky {
		width: 935px;
		padding-top: 25px;
	}

		.posts-sticky-a {
			width: 695px;
		}

		.posts-sticky-b {
			width: 215px;
		}

			.post-sticky-recent {
				width: 455px;
				height: 319px;
				margin-bottom: 25px;
			}

				.post-sticky-recent a {
					width: 455px;
					height: 319px;
				}

					.post-sticky-recent a > div {
						padding: 25px;
					}

			.post-sticky {
				width: 215px;
				height: 147px;
				margin-bottom: 25px;
			}

				.post-sticky a {
					width: 215px;
					height: 147px;
				}

	/*--- Most Viewed -------------------------*/

	#posts-most-viewed {
		width: 935px;
		margin-top: 25px;
	}

		.post-most-viewed {
			width: 215px;
			height: 147px;
			margin-right: 25px;
		}

			.post-most-viewed-front {
				width: 205px;
				height: 137px;
			}

			.post-most-viewed-back {
				width: 215px;
				height: 147px;
			}

	/*--- Related -----------------------------*/

	.posts-related-wrapper {
		padding-top: 25px;
	}

		.posts-related-wrapper h6 {
			margin-bottom: 25px;
		}

		.posts-related-3-wrapper div.posts-related-post-wrapper {
			width: 186px;
		}

			.posts-related-3-wrapper a.post-thumb {
				height: 132px;
			}

				.posts-related-3-wrapper a.post-thumb:before,
				.posts-related-3-wrapper a.post-thumb:after {	
					font-size: 24px;
				}


	/*===========================================
		W I D G E T S
	===========================================*/

	/* none */


	/*===========================================
		B U D D Y P R E S S
	===========================================*/

	#activity-filter-select > label:first-child {
		display: none;
	}

	#buddypress .activity-list li.load-more {
		padding-top: 25px;
	}

	#item-nav {
		margin-bottom: 25px;
	}

	.single-item #item-header-content,
	.bp-user #item-header {
		padding-bottom: 5px;
	}

	#buddypress div#subnav {
		font-size: 12px;
	}

		#buddypress div.item-list-tabs ul li.last select {
			font-size: 12px;
			max-width: 150px;
			padding-top: 8px;
			padding-bottom: 8px;
		}

	#buddypress div.item-list-tabs,
	#search-groups-form input,
	#buddypress div.dir-search input[type="text"],
	#buddypress div.message-search input[type="text"],
	#buddypress input[type="submit"],
	#buddypress input[type="button"],
	#buddypress input[type="reset"],
	#buddypress button.submit {
		font-size: 12px;
	}

		#buddypress input[type="submit"],
		#buddypress input[type="button"],
		#buddypress input[type="reset"],
		#buddypress button.submit {
			padding-top: 0.8em;
			padding-bottom: 0.8em;
		}

	/*-- Search form --------------------------*/

	#buddypress div.dir-search input[type="text"],
	#buddypress div.message-search input[type="text"] {
		padding: 0.8em 1em;
	}

	#buddypress div.message-search input[type="text"],
	#buddypress #search-members-form input[type="text"] {
		font-size: 12px;
		padding-top: 0.8em;
		padding-bottom: 0.8em;
	}

	/*--- Profile -----------------------------*/

	.single-item #item-header-content,
	#item-header {
		width: 335px;
	}

		#item-header-avatar > a img {
			width: 125px;
			height: 125px;
		}


	/*===========================================
		I C O N S
	===========================================*/

	/*--- Social ------------------------------*/

	.icons-social {
		width: auto;
		min-width: 215px;
		margin-right: 25px;
	}


	/*===========================================
		S H O R T C O D E S
	===========================================*/

	/*--- Icon Box ----------------------------*/

	.st_icon_box_16:before {
		top: 0.55em;
	}

	.st_icon_box_32:before {
		top: 0.15em;
	}

	/*--- Pull Quotes -------------------------*/

	.pullquote {
		line-height: 1.535;
		margin-bottom: 10px;
		padding: 10px 15px 15px;
	}

		.pullquote-left {
			margin-right: 10px;
		}

		.pullquote-right {
			margin-left: 10px;
		}

	/*--- Notice ------------------------------*/

	.notice {
		padding: 25px 35px 15px;
	}

	.notice-frontpage {
		padding: 50px;
	}

	/*--- Tabs --------------------------------*/

	.st-ul li {
		padding: 5px 15px;
	}

	.st-tabs {
		padding: 15px;
	}

	/*--- Separator OR ------------------------*/

	.separator-or {
		margin-bottom: 25px;
	}


	/*===========================================
		P O S T
	===========================================*/

	h1.post-title {
		font-size: 2.3em;
		letter-spacing: -0.03em;
		padding: 0;
	}

	.page-title {
		font-size: 2.3em;
		letter-spacing: -0.03em;
		margin-bottom: 25px;
	}

	#post-before {
		padding: 25px 25px 0;
	}

	#post-after {
		padding: 0 25px 25px;
	}

	.single-author-info {
		padding: 25px 25px 0 145px;
	}

		.single-author-upic {
			margin-left: -145px;
		}

	.post-short-info {
		padding-left: 25px;
		padding-right: 25px;
	}

	#pre_next_post {
		margin-top: 25px;
	}


	/*===========================================
		S P E C I A L
	===========================================*/

	.alignleft {
		margin-right: 10px;
	}

	.alignright {
		margin-left: 10px;
	}


	/*===========================================
		P A G I N A T I O N
	===========================================*/

	/*--- Page pagination ---------------------*/

	.page-pagination {
		margin: 25px 0;
	}


	/*===========================================
		A R C H I V E
	===========================================*/

	#term {
		margin-bottom: 25px;
	}


	/*===========================================
		B B P R E S S
	===========================================*/

	#bbpress-forums li.bbp-header,
	#bbpress-forums li.bbp-body ul.forum,
	#bbpress-forums li.bbp-body ul.topic {
		padding-left: 10px;
		padding-right: 10px;
	}

	#bbpress-forums > #subscription-toggle {
		margin-bottom: 25px;
	}


	/*===========================================
		C O M M E N T S
	===========================================*/

	.comments-title {
		padding-top: 25px;
	}


	/*===========================================
		4 0 4
	===========================================*/

	#content-404.notice {
		margin-bottom: 25px;
	}


	/*===========================================
		W O O C O M M E R C E
	===========================================*/

	/*--- 22.2 - Catalog ----------------------*/

	body.woocommerce ul.products li.product {
		width: 186px;
		margin: 0 25px 25px 0;
	}

		body.woocommerce ul.products li.product.last {
			margin-right: 0;
		}

			.st-woo-price {
				width: 121px;
			}

	/*--- 22.3 - Single -----------------------*/

	.woocommerce #content div.product,
	.woocommerce div.product,
	.woocommerce-page #content div.product,
	.woocommerce-page div.product {
		margin-bottom: 25px;
		padding: 25px;
	}

		/* Images */
		.woocommerce #content div.product div.images,
		.woocommerce div.product div.images,
		.woocommerce-page #content div.product div.images,
		.woocommerce-page div.product div.images {
			width: 255px;
			margin: 0 0 25px;
		}

		.woocommerce #content div.product div.thumbnails a,
		.woocommerce div.product div.thumbnails a,
		.woocommerce-page #content div.product div.thumbnails a,
		.woocommerce-page div.product div.thumbnails a {
			width: 85px;
		}

		.woocommerce span.onsale,
		.woocommerce-page span.onsale {
			left: 25px;
		}

		/* Summary */
		.woocommerce #content div.product div.summary,
		.woocommerce div.product div.summary,
		.woocommerce-page #content div.product div.summary,
		.woocommerce-page div.product div.summary {
			width: 280px;
			margin: 0 0 25px;
		}

		/* Upsell */
		.st-woo-upsells h2 {
			margin-bottom: 25px;
		}

		/* Related */
		.st-woo-related h2 {
			margin-bottom: 25px;
		}

		/* Tabs */
		.woocommerce-tabs > div > h2:first-child,
		#reviews #comments h2 {
			padding-top: 0;
		}

	/*--- 22.13 - Cart ------------------------*/

	.woocommerce table.shop_table,
	.woocommerce-page table.shop_table {
		margin-bottom: 25px;
	}

	.woocommerce .cart-collaterals .cross-sells,
	.woocommerce-page .cart-collaterals .cross-sells {
		width: 397px;
	}

		.st-woo-cross h2,
		.cart_totals h2,
		.shipping_calculator h2 {
			margin-bottom: 25px;
		}

		.woocommerce .cart-collaterals .cross-sells ul.products li,
		.woocommerce-page .cart-collaterals .cross-sells ul.products li {
			width: 186px;
		}

	.woocommerce .cart-collaterals .cart_totals,
	.woocommerce-page .cart-collaterals .cart_totals,
	.woocommerce .cart-collaterals .shipping_calculator,
	.woocommerce-page .cart-collaterals .shipping_calculator {
		width: 513px;
	}

		.cart_totals {
			margin-bottom: 25px;
		}


	/*===========================================
		F O R M S
	===========================================*/

	/* none */


	/*===========================================
		P R O J E C T S
	===========================================*/

	/*--- 25.4 - Projects another -------------*/

	#projects-another {
		width: 935px;
	}

		.project-t5 {
			width: 215px;
			height: 147px;
			margin-bottom: 25px;
			margin-right: 25px;
		}

			.project-t5-front {
				width: 205px;
				height: 137px;
			}

			.project-t5-back {
				width: 215px;
				height: 147px;
			}

		#button-projects {
			margin-bottom: 25px;
		}


	/*===========================================
		F O R M A T S
	===========================================*/

	/*-- Archives -----------------------------*/

	.archive .st-format-status-holder {
		margin-bottom: 25px;
	}

	/*-- Authors page -------------------------*/

	.page-template-template-authors-php #article {
		margin-bottom: 25px;
	}

	.page-template-template-authors-php .st-format-status-holder {
		width: 455px;
		margin-bottom: 25px;
	}


	/*===========================================
		W P   R E V I E W
	===========================================*/

	/* none */


/**/}


@media only screen and ( min-width: 640px ) and ( max-width: 959px ) {
/*===============================================

	T A B L E T   V
	640px/959px

===============================================*//**/

/*

	1 - LAYOUT

		- Header
		- Content
		- Footer

	2 - MENU

		- Primary
		- Secondary

	3 - SIDEBARS

		- Sidebar
		- Footer
		- Ad sidebars
		- Frontpage Sidebars

	5 - COMMON

		- Titles
		- Attachment
		- Quotes
		- Fieldset

	6 - POSTS

		- Featured

	7 - WIDGETS

	8 - BUDDYPRESS

	9 - ICONS

		- Social

	10 - SHORTCODES

	11 - POST

	12 - SPECIAL

	13 - PAGINATION

	14 - ARCHIVE

	15 - BBPRESS

	16 - COMMENTS

	17 - 404

	18 - WOOCOMMERCE
	
	19 - FORMS

	20 - PROJECTS

	21 - FORMATS

	22 - WP REVIEW

*/

	/*===========================================
		L A Y O U T
	===========================================*/

	.boxed #layout {
		max-width: 690px;
	}

	/*--- Header ------------------------------*/

	#header {
	}

		#header-holder {
			width: auto;
		}
	
			#logo {
				float: none;
				width: auto;
				height: auto;
				margin: 0 auto;
				padding: 25px 0;
			}
	
				#logo h2 {
					max-width: 640px;
					margin: 0;
					text-align: center;
				}
	
					#logo h2 img {
						margin: 0 auto;
					}

		#header-holder-2 {
			width: auto;
		}

	/*--- Content -----------------------------*/

	#content-layout {
		width: 640px;
		margin: 0 auto;
	}

		#content-holder #content-box {
			float: none;
			width: 640px;
		}

			#content-box {
				min-height: 100px;
				padding: 25px 0;
			}

				.sidebar-secondary-available #content-box > div > div:first-child {
					width: 389px;
				}

		#content-holder div.post-single {
			float: none;
			width: 640px;
			margin: 0;
		}


		/* Frontpage v.2 */
		#article-frontpage-2 {
			margin-bottom: 25px;
		}

	/*--- Footer ------------------------------*/

	#footer-holder {
		width: 640px;
		padding-top: 25px;
	}

		#footer-box {
			margin-right: -50px;
		}

	#copyrights-holder {
		width: 590px;
	}

		#copyrights-box * {
			line-height: 1.575em;
		}

			#copyrights-box > div {
				width: 100%;
				text-align: center;
			}


	/*===========================================
		M E N U
	===========================================*/

	/*--- Primary -----------------------------*/

	#menu-select {
		display: block;
	}

	#menu {
		float: none;
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding: 0;
	}

		#menu > div {
			display: block;
		}

			#menu-box {
				width: 640px;
				height: auto;
				margin: 0 auto;
			}
	
				ul.menu {
					display: none;
				}

	/*--- Secondary ---------------------------*/

	#menu-2 {
		display: table;
		margin: 0 auto;
	}

		ul.menu-2 > li.hasUl > a {
			padding-right: 0;
		}

			ul.menu-2 > li.hasUl > a:before {
				display: none;
			}


	/*===========================================
		S I D E B A R S
	===========================================*/

	/*--- Sidebar -----------------------------*/

	#content-holder #sidebar {
		float: none;
		width: auto;
		margin-right: -25px;
		padding: 0;
	}

		#content-holder .sidebar {
			margin: 0;
		}

			.widget {
				margin-bottom: 25px;
			}

			#content-holder #sidebar .sidebar .widget {
				float: left;
				width: 257px;
				margin-right: 25px;
			}

				#content-holder #sidebar .sidebar .widget_text {
					width: 307px;
				}

	/*--- Post Sidebar ------------------------*/

	/* Post Sidebar by left side */
	.sidebar-position-right div.sidebar-post,
	.sidebar-position-none div.sidebar-post {
		left: 25px;
	}
	
	/* Post Sidebar by right side */
	.sidebar-position-left div.sidebar-post {
		right: 25px;
	}

	/*--- Footer ------------------------------*/

	#footer-box .sidebar-footer,
	#footer-box .sidebar-footer.last {
		width: 332px;
	}

		#footer-box .sidebar-footer > div,
		#footer-box .sidebar-footer.last > div {
			margin: 0 25px 0 0;
		}

	/*--- Ad sidebars -------------------------*/

	.sidebar-ad-a .widget {
		width: 640px;
		margin: 0 auto;
	}

		.sidebar-ad-a .widget img {
			max-width: 640px;
		}

	.sidebar-ad-b {
		width: 640px;
		padding: 0;
		border: none;
	}

		.sidebar-ad-b .widget {
			margin-bottom: 25px;
		}

			.sidebar-ad-b .widget img {
				max-width: 640px;
			}

	#sidebar-ad-c {
		width: auto;
		border: none;
	}

		#sidebar-ad-c .sidebar-ad-c {
			width: 640px;
			margin: 0 auto 25px;
			padding: 0;
			border: none;
		}
	
			#sidebar-ad-c .widget {
				width: auto;
				max-width: 100%;
				margin: 0 auto;
			}
	
				#sidebar-ad-c .widget img {
					max-width: 640px;
				}

	/*--- Frontpage Sidebars-------------------*/

	#sidebar-homepage-box {
	}

		#sidebar-homepage-box .sidebar-homepage > div {
			margin: 0 25px 25px 0;
		}

			/*- 1/4 + 1/4 + 1/4 + 1/4 -*/
		
			#sidebar-homepage-box .sidebar-homepage,
			#sidebar-homepage-box .sidebar-homepage.last {
				width: 307px;
				margin-bottom: 0;
			}

			#sidebar-homepage-box .sidebar-homepage.odd {
				float: left;
				clear: left;
			}

			#sidebar-homepage-box .sidebar-homepage.even {
				float: right;
			}

				#sidebar-homepage-box .sidebar-homepage > div {
					margin: 0 0 25px;
				}

	/*===========================================
		C O M M O N
	===========================================*/

	/*--- Titles -----------------------------*/

	h1 {
		font-size: 2.285em;
	}

	h2 {
		font-size: 1.7em;
	}

	h3 {
		font-size: 1.35em;
	}

	h4 {
		font-size: 1.15em;
	}

	h5 {
		font-size: 1em;
	}

	/*--- Attachment -------------------------*/

	.wp-caption.alignleft {
		margin-left: -30px;
	}

	.wp-caption.alignright {
		margin-right: -30px;
	}

	/*--- Quotes -----------------------------*/

	blockquote p {
		line-height: 1.535em;
	}

	/*--- Fieldset ---------------------------*/

	fieldset {
		padding: 10px 15px;
	}


	/*===========================================
		P O S T S
	===========================================*/

	.post-template {
		margin-bottom: 25px;
		padding-bottom: 25px;
	}

	/*--- Default -----------------------------*/

	.post-default {
		padding-top: 25px;
		padding-bottom: 0;
	}

		.post-default:first-child {
			padding-top: 0;
		}
	
			.post-default .post-title {
				font-size: 1.7em;
			}
	
				.sticky.post-default .post-title:before {
					margin: 0 0 0.5em;
				}
	
			.post-default .meta {
				margin: 15px 0;
			}
	
			.post-default .content-data {
				padding: 25px;
		}

	/*--- Post t6 -----------------------------*/

	.post-template.post-t6 {
	}

		.post-t6 {
		}
	
			.post-t6 .thumb-wrapper {
			}
	
			.post-t6-details {
			}

				.v2 .post-t6-yes-thumb .post-t6-details {
				}
	
			.post-t6-more {
			}
	
			/* If sidebar available */
			.sidebar-secondary-available .post-template.post-t6 {
				padding-bottom: 50px;
			}

				.sidebar-secondary-available .post-t6 {
					width: auto;
					height: auto;
				}
			
					.sidebar-secondary-available .post-t6 .thumb-wrapper {
						margin: 50px 0 0 50px;
					}

					.sidebar-secondary-available .post-t6-details {
						max-height: none;
						padding: 25px 50px 0;
					}

						.sidebar-secondary-available .post-t6-details:after {
							display: none;
						}

					.sidebar-secondary-available .post-t6-more {
						margin: 0 0 0 48px;
					}

			/* If sidebar disable */
			.sidebar-secondary-inactive .post-t6.even {
				float: left;
				margin: 0 0 55px 0;
			}

				.sidebar-secondary-inactive.sidebar-position-left .post-t6.even {
					margin: 0 0 55px 30px;
				}

			.sidebar-secondary-inactive .post-t6.odd {
				float: right;
				margin: 0 30px 55px 0;
			}

				.sidebar-secondary-inactive.sidebar-position-left .post-t6.odd {
					margin: 0 0 55px 30px;
				}

			/* W/out thumbnail */
			.post-t6-no-thumb {
			}

				.sidebar-secondary-available .post-t6-no-thumb:after {
					display: none;
				}
	
					.sidebar-secondary-available .post-t6-no-thumb .post-t6-details {
						max-height: none;
					}
	
						.post-t6-no-thumb h3 {
						}
	
					.sidebar-secondary-available .post-t6-no-thumb .meta {
						max-height: none;
						margin: 15px 0 0 50px;
					}

			/* On frontpage v.2 */
			.v2 {
				width: 574px;
				margin: 0 auto;
			}

				.v2 .post-t6 {
					margin-right: 0;
				}
	
					.v2 .post-t6.odd {
						float: left;
					}

					.v2 .post-t6.even {
						float: right;
					}

						.v2 .post-t6 .thumb-wrapper {
						}
		
							.v2 .post-t6 a.post-thumb {
							}

	/*--- Sticky ------------------------------*/

	.posts-sticky {
		width: 574px;
	}

		#posts-sticky:before {
			background-image: none !important;
		}

			.posts-sticky-a {
				width: 574px;
			}
	
			.posts-sticky-b {
				width: 100%;
			}
	
				.post-sticky-recent {
				}
	
				.post-sticky {
				}
	
					.posts-sticky .odd {
						float: right;
					}
		
					.posts-sticky .even {
						float: left;
					}

	/*--- Most Viewed -------------------------*/

	#posts-most-viewed {
		width: 574px;
	}

		.post-most-viewed {
			margin-right: 0;
		}

			.post-most-viewed.first {
				margin-bottom: 50px;
			}

			.post-most-viewed.odd {
				float: left;
				clear: left;
			}

			.post-most-viewed.even {
				float: right;
			}

	/*--- Related -----------------------------*/

	.posts-related-wrapper {
		padding-top: 25px;
	}

		.posts-related-wrapper h6 {
			margin-bottom: 25px;
		}

		.posts-related-3-wrapper div.posts-related-post-wrapper {
			width: 196px;
		}

			.posts-related-3-wrapper a.post-thumb {
				height: 139px;
			}

				.posts-related-3-wrapper a.post-thumb:before,
				.posts-related-3-wrapper a.post-thumb:after {	
					font-size: 24px;
				}


	/*===========================================
		W I D G E T S
	===========================================*/

	/*--- Custom menu -------------------------*/

	#content-holder #sidebar .sidebar .widget_nav_menu,
	.ie8 #content-holder #sidebar .sidebar .widget_nav_menu {
		width: 307px;
	}

	/*--- Calendar ----------------------------*/

	#content-holder #sidebar .sidebar .widget_calendar {
		width: 307px;
	}

	/*--- WP Review ---------------------------*/

	div#content-holder #sidebar .sidebar .widget_wp_review_tab {
		width: 307px;
	}


	/*===========================================
		B U D D Y P R E S S
	===========================================*/

	#buddypress .activity-list li.load-more {
		padding-top: 25px;
	}

	#item-nav {
		margin-bottom: 25px;
	}

	.single-item #item-header-content,
	.bp-user #item-header {
		padding-bottom: 5px;
	}

	#buddypress div#subnav {
		font-size: 12px;
	}

		#buddypress div.item-list-tabs ul li.last select {
			font-size: 12px;
			max-width: 150px;
		}

	#buddypress div.item-list-tabs,
	#search-groups-form input,
	#buddypress div.dir-search input[type="text"],
	#buddypress div.message-search input[type="text"],
	#buddypress input[type="submit"],
	#buddypress input[type="button"],
	#buddypress input[type="reset"],
	#buddypress button.submit {
		font-size: 12px;
	}

		#buddypress input[type="submit"],
		#buddypress input[type="button"],
		#buddypress input[type="reset"],
		#buddypress button.submit {
			padding-top: 0.8em;
			padding-bottom: 0.8em;
		}
	
	/*-- Search form --------------------------*/

	#buddypress div.dir-search input[type="text"],
	#buddypress div.message-search input[type="text"] {
		padding: 0.8em 1em;
	}

	#buddypress div.message-search input[type="text"],
	#buddypress #search-members-form input[type="text"] {
		font-size: 12px;
		padding-top: 0.8em;
		padding-bottom: 0.8em;
	}

	/*--- Profile -----------------------------*/

	.single-item #item-header-content,
	#item-header {
		width: 365px;
	}

		#item-header-avatar > a {
			width: 100px;
			height: 100px;
		}


	/*===========================================
		I C O N S
	===========================================*/

	/*--- Social ------------------------------*/

	.icons-social {
		display: table;
		float: none;
		width: auto;
		margin: 0 auto;
	}


	/*===========================================
		S H O R T C O D E S
	===========================================*/

	/*--- Columns -----------------+-----------*/

	.column {
		float: none;
		width: auto !important;
	}

		.column > div {
			margin-right: 0 !important;
		}

	/*--- Icon Box ----------------------------*/

	.st_icon_box_16:before {
		top: 0.60em;
	}

	.st_icon_box_32:before {
		top: 0.2em;
	}

	/*--- Pull Quotes -------------------------*/

	.pullquote {
		line-height: 1.535;
		margin-bottom: 10px;
		padding: 10px 15px 15px;
	}

		.pullquote-left {
			margin-right: 10px;
		}

		.pullquote-right {
			margin-left: 10px;
		}

	/*--- Notice ------------------------------*/

	.notice {
		padding: 25px 35px 15px;
	}

	.notice-frontpage {
		padding: 50px;
	}

	/*--- Tabs --------------------------------*/

	.st-ul li {
		padding: 5px 15px;
	}

	.st-tabs {
		padding: 15px;
	}

	/*--- Separator OR ------------------------*/

	.separator-or {
		margin-bottom: 25px;
	}


	/*===========================================
		P O S T
	===========================================*/

	h1.post-title {
		font-size: 2.3em;
		letter-spacing: -0.03em;
		padding: 0;
	}

	.page-title {
		font-size: 2.3em;
		letter-spacing: -0.03em;
		margin-bottom: 25px;
	}

	#post-before {
		padding: 25px 25px 0;
	}

	#post-after {
		padding: 0 25px 25px;
	}

	#article {
		padding: 25px;
	}

		.sidebar-position-right #article.sidebar-post-enabled,
		.sidebar-position-none #article.sidebar-post-enabled {
			padding-left: 170px;
		}

		.sidebar-position-left #article.sidebar-post-enabled {
			padding-right: 170px;
		}

	#pre_next_post {
		font-size: 1em;
		line-height: 1.54em;
		margin-top: 25px;
	}

	.single-author-info {
		padding-top: 25px;
		padding-left: 140px;
	}

		.single-author-upic {
			float: left;
			margin: 0 0 0 -140px;
		}


	/*===========================================
		S P E C I A L
	===========================================*/

	.alignleft {
		margin-right: 10px;
	}

	.alignright {
		margin-left: 10px;
	}


	/*===========================================
		P A G I N A T I O N
	===========================================*/

	/*--- Page pagination ---------------------*/

	.page-pagination {
		margin: 25px 0;
	}


	/*===========================================
		A R C H I V E
	===========================================*/

	#term {
		margin-bottom: 25px;
		padding-bottom: 12px;
	}


	/*===========================================
		B B P R E S S
	===========================================*/

	#bbpress-forums ul.bbp-replies {
		font-size: 14px;
	}

	#bbpress-forums li.bbp-header,
	#bbpress-forums li.bbp-body ul.forum,
	#bbpress-forums li.bbp-body ul.topic {
		padding-left: 10px;
		padding-right: 10px;
	}

	#bbpress-forums > #subscription-toggle {
		margin-bottom: 25px;
	}


	/*===========================================
		C O M M E N T S
	===========================================*/

	.comments-title {
		padding-top: 25px;
	}


	/*===========================================
		4 0 4
	===========================================*/

	#content-404.notice {
		margin-bottom: 25px;
	}


	/*===========================================
		W O O C O M M E R C E
	===========================================*/

	/*--- 22.2 - Catalog ----------------------*/

	body.woocommerce ul.products li.product {
		width: 196px;
		margin: 0 25px 25px 0;
		clear: none;
	}

		.woocommerce ul.products li.product:nth-child(2n),
		.woocommerce-page ul.products li.product:nth-child(2n) { /* from original woo resp. styles */
			float: left;
		}

		.woocommerce ul.products li.product.last {
			margin-right: 0;
		}

			.st-woo-hover {
			}

			.st-woo-price {
				width: 131px;
			}

	/*--- 22.3 - Single -----------------------*/

	.woocommerce #content div.product,
	.woocommerce div.product,
	.woocommerce-page #content div.product,
	.woocommerce-page div.product {
		margin-bottom: 25px;
		padding: 25px;
	}

		/* Images */
		.woocommerce #content div.product div.images,
		.woocommerce div.product div.images,
		.woocommerce-page #content div.product div.images,
		.woocommerce-page div.product div.images {
			float: left; /* because original woo resp. styles */
			width: 285px;
			margin: 0 0 25px;
		}

		.woocommerce #content div.product div.thumbnails a,
		.woocommerce div.product div.thumbnails a,
		.woocommerce-page #content div.product div.thumbnails a,
		.woocommerce-page div.product div.thumbnails a {
			width: 95px;
		}

		.woocommerce span.onsale,
		.woocommerce-page span.onsale {
			left: 25px;
		}

		/* Summary */
		.woocommerce #content div.product div.summary,
		.woocommerce div.product div.summary,
		.woocommerce-page #content div.product div.summary,
		.woocommerce-page div.product div.summary {
			float: right; /* because original woo resp. styles */
			width: 280px;
			margin: 0 0 25px;
		}

		/* Upsell */
		.st-woo-upsells h2 {
			margin-bottom: 25px;
		}

		/* Related */
		.st-woo-related h2 {
			margin-bottom: 25px;
		}

		/* Tabs */
		.woocommerce-tabs > div > h2:first-child,
		#reviews #comments h2 {
			padding-top: 0;
		}

	/*--- 22.13 - Cart ------------------------*/

	.woocommerce table.shop_table,
	.woocommerce-page table.shop_table {
		margin-bottom: 25px;
	}

	.woocommerce .cart-collaterals .cross-sells,
	.woocommerce-page .cart-collaterals .cross-sells {
		width: 100%;
	}

		.st-woo-cross h2,
		.cart_totals h2,
		.shipping_calculator h2 {
			margin-bottom: 25px;
		}

		.woocommerce .cart-collaterals .cross-sells ul.products,
		.woocommerce-page .cart-collaterals .cross-sells ul.products {
			display: table;
			margin: 0 auto 25px;
		}

			.st-woo-hover {
			}

	.woocommerce .cart-collaterals .cart_totals,
	.woocommerce-page .cart-collaterals .cart_totals,
	.woocommerce .cart-collaterals .shipping_calculator,
	.woocommerce-page .cart-collaterals .shipping_calculator {
		width: 100%;
	}

		.cart_totals {
			margin-bottom: 25px;
		}

	/*--- 22.16 - Pagination ------------------*/

	.woocommerce #content nav.woocommerce-pagination ul,
	.woocommerce nav.woocommerce-pagination ul,
	.woocommerce-page #content nav.woocommerce-pagination ul,
	.woocommerce-page nav.woocommerce-pagination ul {
		margin-bottom: 0;
	}


	/*===========================================
		F O R M S
	===========================================*/

	/* none */


	/*===========================================
		P R O J E C T S
	===========================================*/

	#projects-another,
	.projects-t5-wrapper {
		width: 574px;
	}

		.project-t5 {
			margin-right: 0;
		}

			.project-t5.odd {
				float: left;
			}

			.project-t5.even {
				float: right;
			}

		.project-t5-rotated {
			display: none;
		}


	/*===========================================
		F O R M A T S
	===========================================*/

	.archive .st-format-status-holder {
		margin-bottom: 25px;
	}

	/*-- Authors page -------------------------*/

	.page-template-template-authors-php #article {
		margin-bottom: 25px;
	}

	.page-template-template-authors-php .st-format-status-holder {
		width: 100%;
		margin-bottom: 25px;
	}


	/*===========================================
		W P   R E V I E W
	===========================================*/

	.review-desc {
		width: auto;
		margin: 0;
		padding-bottom: 15px;
	}

	.review-total-wrapper {
		width: 100%;
	}


/**/}


@media only screen and ( min-width: 480px ) and ( max-width: 639px ) {
/*===============================================

	P H O N E   H
	480px/639px

===============================================*//**/

/*

	1 - LAYOUT

		- Header
		- Content
		- Footer

	2 - MENU

		- Primary
		- Secondary

	3 - SIDEBARS

		- Sidebar
		- Footer
		- Ad sidebars

	5 - COMMON

		- Titles
		- Attachment
		- Quotes
		- Fieldset

	6 - POSTS

		- Featured

	7 - WIDGETS

	8 - BUDDYPRESS

	9 - ICONS

		- Social

	10 - SHORTCODES

	11 - POST

	12 - SPECIAL

	13 - PAGINATION

	14 - ARCHIVE

	15 - BBPRESS

	16 - COMMENTS

	17 - 404

	18 - WOOCOMMERCE
	
	19 - FORMS

	20 - PROJECTS

	21 - FORMATS

	22 - WP REVIEW

*/

	/*===========================================
		L A Y O U T
	===========================================*/

	.boxed #layout {
		max-width: 510px;
	}

	/*--- Header ------------------------------*/

	#header {
	}

		#header-holder {
			width: auto;
		}
	
			#logo {
				float: none;
				width: auto;
				height: auto;
				margin: 0 auto;
				padding: 15px 0;
			}
	
				#logo h2 {
					max-width: 480px;
					margin: 0;
					text-align: center;
				}
	
					#logo h2 img {
						margin: 0 auto;
					}

		#header-holder-2 {
			width: auto;
		}

	/*--- Content -----------------------------*/

	#content-layout {
		width: 480px;
		margin: 0 auto;
	}

		#content-holder #content-box {
			float: none;
			width: 480px;
		}

			#content-box {
				min-height: 100px;
				padding: 15px 0;
			}

				.sidebar-secondary-available #content-box > div > div:first-child {
					width: 249px;
				}

		#content-holder div.post-single {
			float: none;
			width: 480px;
			margin: 0;
		}

		/* Frontpage v.2 */
		#article-frontpage-2 {
			margin-bottom: 15px;
		}

	/*--- Footer ------------------------------*/

	#footer-holder {
		width: 480px;
		padding-top: 25px;
		padding-bottom: 10px;
	}

		#footer-box {
			margin-right: -50px;
		}

	#copyrights-holder {
		width: 450px;
		padding-left: 15px;
		padding-right: 15px;
	}

		#copyrights-box * {
			line-height: 1.575em;
		}

			#copyrights-box > div {
				width: 100%;
				text-align: center;
			}


	/*===========================================
		M E N U
	===========================================*/

	/*--- Primary -----------------------------*/

	#menu-select {
		display: block;
		margin-bottom: 15px;
	}

	#menu {
		float: none;
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding: 0;
	}

		#menu > div {
			display: block;
		}

			#menu-box {
				width: 480px;
				height: auto;
				margin: 0 auto;
			}
	
				ul.menu {
					display: none;
				}

	/*--- Secondary ---------------------------*/

	#menu-2 {
		display: table;
		margin: 0 auto;
	}

		ul.menu-2 > li > a {
		}

		ul.menu-2 > li.hasUl > a {
			padding-right: 0;
		}

			ul.menu-2 > li.hasUl > a:before {
				display: none;
			}


	/*===========================================
		S I D E B A R S
	===========================================*/

	/*--- Sidebar -----------------------------*/

	#content-holder #sidebar {
		float: none;
		width: auto;
		padding: 0;
	}

		#content-holder .sidebar {
			margin: 0;
		}

			.sidebar .widget {
			}

				.widget {
					margin-bottom: 15px;
				}

	#content-holder div.sidebar-post {
	}

		.dark #content-holder div.sidebar-post {
		}

			.sidebar-post,
			.sidebar-post div {
				font-size: inherit;
			}
		
			#stickyDiv {
			}
	
				#stickyDiv > div {
				}

	/*--- Footer ------------------------------*/

	#footer-box .sidebar-footer,
	#footer-box .sidebar-footer.last {
		width: 252px;
	}

		#footer-box .sidebar-footer > div,
		#footer-box .sidebar-footer.last > div {
			margin: 0 25px 0 0;
		}

	/*--- Ad sidebars -------------------------*/

	.sidebar-ad-a .widget {
			width: 480px;
			margin: 0 auto;
			padding: 0;
		}
	
			.sidebar-ad-a .widget img {
				max-width: 480px;
			}
	
		.sidebar-ad-b {
			width: 480px;
			margin-top: 15px;
			padding: 0;
			border: none;
		}
	
			.sidebar-ad-b .widget {
				margin-bottom: 15px;
				padding: 0;
			}
	
				.sidebar-ad-b .widget img {
					max-width: 480px;
				}
	
		#sidebar-ad-c {
			width: auto;
			border: none;
		}
	
			#sidebar-ad-c .sidebar-ad-c {
				width: 480px;
				margin: 0 auto 15px;
				padding: 0;
				border: none;
			}
		
				#sidebar-ad-c .widget {
					width: auto;
					max-width: 100%;
					margin: 0 auto;
					padding: 0;
				}
		
					#sidebar-ad-c .widget img {
						max-width: 480px;
					}

	/*--- Secondary sidebars ------------------*/

	#sidebar-secondary {
		width: 216px;
	}

	/*--- Frontpage Sidebars ------------------*/

	#sidebar-homepage-box {
	}

		#sidebar-homepage-box .sidebar-homepage,
		#sidebar-homepage-box .sidebar-homepage.last {
			width: 50%;
		}

			#sidebar-homepage-box .sidebar-homepage.odd {
				clear: left;
			}

				#sidebar-homepage-box .sidebar-homepage.odd > div {
					margin: 0 7.5px 0 0;
				}
	
				#sidebar-homepage-box .sidebar-homepage.even > div {
					margin: 0 0 0 7.5px;
				}

	/*--- Post Sidebar ------------------------*/

	/* Post Sidebar by left side */
	.sidebar-position-right div.sidebar-post,
	.sidebar-position-none div.sidebar-post {
		left: 15px;
	}
	
	/* Post Sidebar by right side */
	.sidebar-position-left div.sidebar-post {
		right: 15px;
	}


	/*===========================================
		C O M M O N
	===========================================*/

	/*--- Titles -----------------------------*/

	h1 {
		font-size: 2.0em;
	}

	h2 {
		font-size: 1.7em;
	}

	h3 {
		font-size: 1.35em;
	}

	h4 {
		font-size: 1.15em;
	}

	h5 {
		font-size: 1em;
	}

	/*--- Attachment -------------------------*/

	.wp-caption.alignleft {
		margin-left: -20px;
	}

	.wp-caption.alignright {
		margin-right: -20px;
	}

	/*--- Quotes -----------------------------*/

	blockquote p {
		line-height: 1.535em;
	}

	/*--- Fieldset ---------------------------*/

	fieldset {
		padding: 10px 15px;
	}

	/*--- Paragraphs -------------------------*/

	p {
		margin-bottom: 0.5em;
	}


	/*===========================================
		P O S T S
	===========================================*/

	.post-template {
		margin-bottom: 15px;
		padding-bottom: 15px;
	}

	/*--- Default -----------------------------*/

	.post-default {
		padding-top: 15px;
		padding-bottom: 0;
	}

		.post-default:first-child {
			padding-top: 0;
		}
	
			.post-default .post-title {
				font-size: 1.7em;
			}
	
				.sticky.post-default .post-title:before {
					margin: 0 0 0.5em;
				}
	
			.post-default .meta {
				margin: 15px 0;
			}
	
			.post-default .content-data {
				padding: 15px;
		}

	/*--- Post t6 -----------------------------*/

	.post-template.post-t6 {
	}

		.post-t6 {
		}
	
			.post-t6 .thumb-wrapper {
			}
	
			.post-t6-details {
				max-height: 115px;
			}

				.v2 .post-t6-yes-thumb .post-t6-details {
				}
	
			.post-t6-more {
			}
	
			/* If sidebar available */
			.sidebar-secondary-available .post-template.post-t6 {
			}

				.sidebar-secondary-available .post-t6 {
					width: 249px;
				}
			
					.sidebar-secondary-available .post-t6 .thumb-wrapper {
					}

					.sidebar-secondary-available .post-t6-details {
					}

						.sidebar-secondary-available .post-t6-details:after {
						}

					.sidebar-secondary-available .post-t6-more {
					}

			/* If sidebar disable */
			.sidebar-secondary-inactive .post-t6 {
				width: 232px;
			}

				.sidebar-secondary-inactive .post-t6.odd {
					float: left;
					margin: 0 0 15px;
				}

				.sidebar-secondary-inactive .post-t6.even {
					float: right;
					margin: 0 0 15px;
				}

					.sidebar-secondary-inactive .post-t6 .thumb-wrapper {
						width: 232px;
						height: 165px;
					}
	
						.sidebar-secondary-inactive .post-t6 a.post-thumb {
							height: 165px;
						}

					.sidebar-secondary-inactive .post-t6-yes-thumb .post-t6-details {
						max-height: 130px;
					}

			.sidebar-secondary-inactive .post-t6-no-thumb .post-t6-details {
				max-height: 205px;
			}

			/* W/out thumbnail */
			.post-t6-no-thumb {
			}

				.sidebar-secondary-available .post-t6-no-thumb:after {
				}
	
					.sidebar-secondary-available .post-t6-no-thumb .post-t6-details {
					}

						.post-t6-no-thumb .post-t6-details {
							max-height: 205px;
						}

							.post-t6-no-thumb h3 {
							}
	
					.sidebar-secondary-available .post-t6-no-thumb .meta {
					}

			/* On frontpage v.2 */
			.v2 {
				width: 480px;
				margin: 0 auto;
			}

				.v2 .post-t6 {
					width: 232px;
					margin-right: 0;
				}
	
					.v2 .post-t6.odd {
						float: left;
					}

					.v2 .post-t6.even {
						float: right;
					}

						.v2 .post-t6 .thumb-wrapper {
							width: 232px;
							height: 165px;
						}
		
							.v2 .post-t6 a.post-thumb {
								height: 165px;
							}

						.v2 .post-t6-yes-thumb .post-t6-details {
							max-height: 130px;
						}

				.v2 .post-t6-no-thumb .post-t6-details {
					max-height: 205px;
				}

	/*--- Sticky ------------------------------*/

	.posts-sticky {
		width: 480px;
		padding-top: 15px;
	}

		#posts-sticky:before {
			background-image: none !important;
		}

			.posts-sticky-a {
				width: 480px;
			}

				.post-sticky-recent {
					width: 480px;
					height: 342px;
					margin-bottom: 15px;
				}

					.post-sticky-recent a {
						width: 480px;
						height: 342px;
					}

						.post-sticky-recent a > div {
							padding: 25px;
						}
	
			.posts-sticky-b {
				width: 100%;
			}
	
	
				.post-sticky {
					width: 232px;
					height: 165px;
					margin-bottom: 15px;
				}
	
					.posts-sticky .odd {
						float: right;
					}
		
					.posts-sticky .even {
						float: left;
					}

						.post-sticky a {
							width: 232px;
							height: 165px;
						}

	/*--- Most Viewed -------------------------*/

	#posts-most-viewed {
		width: 480px;
		margin-top: 15px;
	}

		.post-most-viewed {
			width: 232px;
			height: 165px;
			margin-right: 0;
		}

			.post-most-viewed.first {
				margin-bottom: 15px;
			}

			.post-most-viewed.odd {
				float: left;
				clear: left;
			}

			.post-most-viewed.even {
				float: right;
			}

				.post-most-viewed-front {
					width: 222px;
					height: 155px;
				}

				.post-most-viewed-back {
					width: 232px;
					height: 165px;
				}

	/*--- Related -----------------------------*/

	.posts-related-wrapper {
		padding-top: 25px;
	}

		.posts-related-wrapper h6 {
			margin-bottom: 25px;
		}

		.posts-related-2-wrapper div.posts-related-post-wrapper {
			width: 224px;
		}

			.posts-related-2-wrapper a.post-thumb {
				height: 158px;
			}

				.posts-related-2-wrapper a.post-thumb:before,
				.posts-related-2-wrapper a.post-thumb:after {	
					font-size: 24px;
				}

		.posts-related-3-wrapper div.posts-related-post-wrapper {
			width: 150px;
		}

			.posts-related-3-wrapper a.post-thumb {
				height: 105px;
			}

				.posts-related-3-wrapper a.post-thumb:before,
				.posts-related-3-wrapper a.post-thumb:after {	
					font-size: 24px;
				}

			.posts-related-details-wrapper > div h5 {
				padding: 15px;
			}


	/*===========================================
		W I D G E T S
	===========================================*/

	#sidebar .widget-posts,
	#sidebar .widget_search {
		padding: 20px;
	}

	/*--- Calendar ----------------------------*/

	#content-holder #sidebar .sidebar .widget_calendar {
		padding: 0;
	}

	/*--- WP Review ---------------------------*/

	div#content-holder #sidebar .sidebar .widget_wp_review_tab {
		width: auto;
	}


	/*===========================================
		B U D D Y P R E S S
	===========================================*/

	#buddypress .activity-list li.load-more {
		padding-top: 15px;
	}

	#item-nav {
		margin-bottom: 15px;
	}

	.single-item #item-header-content,
	.bp-user #item-header {
		padding-bottom: 5px;
	}

	#buddypress div.item-list-tabs,
	#search-groups-form input,
	#buddypress div.dir-search input[type="text"],
	#buddypress div.message-search input[type="text"],
	#buddypress input[type="submit"],
	#buddypress input[type="button"],
	#buddypress input[type="reset"],
	#buddypress button.submit {
		font-size: 12px;
	}

		#buddypress input[type="submit"],
		#buddypress input[type="button"],
		#buddypress input[type="reset"],
		#buddypress button.submit {
		text-indent: -9999px;
			padding-top: 0.8em;
			padding-bottom: 0.8em;
		}

	/*-- Primary level ------------------------*/

	#item-nav {
		padding: 15px;
	}

	/*-- Secondary level ----------------------*/
	
	#buddypress div#subnav.item-list-tabs ul li.last {
		position: relative;
	}
	
	/*-- Search form --------------------------*/

	#buddypress div.dir-search input[type="text"],
	#buddypress div.message-search input[type="text"] {
		padding: 0.8em 1em;
	}

	#buddypress div.message-search input[type="text"],
	#buddypress #search-members-form input[type="text"] {
		font-size: 12px;
		padding-top: 0.8em;
		padding-bottom: 0.8em;
	}

	/*--- Profile -----------------------------*/

	.single-item #item-header-content,
	#item-header {
		width: 255px;
	}

		#item-header-avatar > a {
			width: 75px;
			height: 75px;
		}

	/*-- Other --------------------------------*/

	.activity-type-tabs {
		padding: 15px;
	}


	/*===========================================
		I C O N S
	===========================================*/

	/*--- Social ------------------------------*/

	.icons-social {
		display: table;
		float: none;
		width: auto;
		margin: 0 auto;
	}


	/*===========================================
		S H O R T C O D E S
	===========================================*/

	/*--- Columns -----------------+-----------*/

	.column {
		float: none;
		width: auto !important;
	}

		.column > div {
			margin-right: 0 !important;
		}

	/*--- Icon Box ----------------------------*/

	.st_icon_box_16:before {
		top: 0.60em;
	}

	.st_icon_box_32:before {
		top: 0.2em;
	}

	/*--- Pull Quotes -------------------------*/

	.pullquote {
		line-height: 1.535;
		margin-bottom: 10px;
		padding: 10px 15px 15px;
	}

		.pullquote-left {
			margin-right: 10px;
		}

		.pullquote-right {
			margin-left: 10px;
		}

	/*--- Notice ------------------------------*/

	.notice {
		padding: 20px 25px 15px;
	}

	.notice-frontpage {
		font-size: 1em;
		padding: 50px 25px;
	}

		.notice-frontpage p {
			margin-bottom: 1em;
		}

	/*--- Tabs --------------------------------*/

	.st-ul li {
		padding: 5px 15px;
	}

	.st-tabs {
		padding: 15px;
	}

	/*--- Toggle --------------------------------*/

	.toggle-title,
	.toggle-box {
		padding: 15px;
	}

	/*--- Separator OR ------------------------*/

	.separator-or {
		margin-bottom: 15px;
	}


	/*===========================================
		P O S T
	===========================================*/

	h1.post-title {
		font-size: 2.0em;
		letter-spacing: -0.02em;
		padding-bottom: 0;
	}

	.page-title {
		font-size: 2.0em;
		letter-spacing: -0.02em;
		margin-bottom: 15px;
	}

	#article {
		padding: 15px;
	}

	#pre_next_post {
		font-size: 1em;
		line-height: 1.54em;
		margin-top: 15px;
	}

	#title-after {
		padding-bottom: 15px;
	}

	#post-before {
		padding: 15px 15px 0;
	}

	#post-after {
		padding: 0 15px 15px;
	}

	.single-author-info {
		padding: 15px 0 0 140px;
	}

		.single-author-upic {
			float: left;
			margin: 0 0 0 -140px;
		}

	.post-short-info {
		padding-left: 15px;
		padding-right: 15px;
	}

	.sidebar-position-right #article.sidebar-post-enabled,
	.sidebar-position-none #article.sidebar-post-enabled {
		padding-left: 150px;
	}

	.sidebar-position-left #article.sidebar-post-enabled {
		padding-right: 150px;
	}


	/*===========================================
		S P E C I A L
	===========================================*/

	.alignleft {
		margin-right: 10px;
	}

	.alignright {
		margin-left: 10px;
	}


	/*===========================================
		P A G I N A T I O N
	===========================================*/

	/*--- Page pagination ---------------------*/

	.page-pagination {
		margin: 15px 0;
	}


	/*===========================================
		A R C H I V E
	===========================================*/

	#term {
		margin-bottom: 15px;
		padding-bottom: 12px;
	}


	/*===========================================
		B B P R E S S
	===========================================*/

	#bbpress-forums ul.bbp-replies {
		font-size: 14px;
	}

	.bbp-header {
		display: none;
	}

	#bbpress-forums li.bbp-header,
	#bbpress-forums li.bbp-body ul.forum,
	#bbpress-forums li.bbp-body ul.topic {
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.bbp-forum-topic-count,
	.bbp-forum-reply-count,
	.bbp-topic-voice-count,
	.bbp-topic-reply-count {
		display: none;
	}

	li.bbp-forum-info,
	li.bbp-topic-title {
		float: none;
		width: auto;
	}

	#bbpress-forums li.bbp-forum-freshness,
	#bbpress-forums li.bbp-topic-freshness {
		float: none;
		width: auto;
		text-align: inherit;
	}

		#bbpress-forums .type-forum li.bbp-forum-freshness,
		#bbpress-forums .type-forum li.bbp-topic-freshness {
			margin-left: 34px;
		}

			#bbpress-forums li.bbp-forum-freshness .bbp-topic-meta,
			#bbpress-forums li.bbp-topic-freshness .bbp-topic-meta {
				display: inline;
				margin-top: 0;
			}

	#bbpress-forums ul.bbp-lead-topic, 
	#bbpress-forums ul.bbp-topics,
	#bbpress-forums ul.bbp-forums,
	#bbpress-forums ul.bbp-replies,
	#bbpress-forums ul.bbp-search-results,
	#bbpress-forums > #subscription-toggle,
	.bbp-pagination .bbp-pagination-links span,
	.bbp-pagination .bbp-pagination-links a,
	div.bbp-template-notice.info {
		margin-bottom: 15px;
	}

	div.bbp-template-notice.info,
	div.bbp-template-notice {
		padding: 1em 2em;
	}

	.sidebar .widget.widget_display_search {
		padding: 20px;
	}
	
	#content-parent fieldset.bbp-form,
	#container fieldset.bbp-form,
	#wrapper fieldset.bbp-form {
		padding: 0 15px 15px;
	}

	/*--- Reply -------------------------------*/

	div.bbp-forum-header,
	div.bbp-topic-header,
	div.bbp-reply-header,
	li.bbp-body div.hentry,
	.bbp-replies div.hentry {
		padding: 15px 0 0;
	}

		#bbpress-forums div.bbp-forum-author,
		#bbpress-forums div.bbp-topic-author,
		#bbpress-forums div.bbp-reply-author {
			width: 75px;
		}
	
			#bbpress-forums div.bbp-forum-author > a img,
			#bbpress-forums div.bbp-topic-author > a img,
			#bbpress-forums div.bbp-reply-author > a img {
				width: 50px;
				height: 50px;
			}
	
		#bbpress-forums div.bbp-forum-content,
		#bbpress-forums div.bbp-topic-content,
		#bbpress-forums div.bbp-reply-content {
			margin-left: 90px;
			padding: 0;
		}


	/*===========================================
		C O M M E N T S
	===========================================*/

	.comments-title {
		margin-bottom: 15px;
		padding-top: 25px;
	}

	#respond {
	}

	.comment-top-level .comment-box,
	#comments > li {
		margin-bottom: 15px;
	}

	#commentform {
		padding-bottom: 15px;
	}


	/*===========================================
		4 0 4
	===========================================*/

	.error404 #content-box {
		padding-bottom: 15px;
	}

		#content-404.notice {
			margin-bottom: 25px;
		}


	/*===========================================
		W O O C O M M E R C E
	===========================================*/

	/*--- 22.2 - Catalog ----------------------*/

	body.woocommerce .woocommerce-ordering,
	body.woocommerce .woocommerce-result-count,
	body.woocommerce-page .woocommerce-ordering,
	body.woocommerce-page .woocommerce-result-count {
		margin-bottom: 15px;
	}

	body.woocommerce ul.products li.product {
		width: 232px;
		margin: 0 15px 15px 0;
		clear: none;
	}

		body.woocommerce ul.products li.product:nth-child(odd),
		body.woocommerce-page ul.products li.product:nth-child(odd) {
			float: left;
		}

		body.woocommerce ul.products li.product:nth-child(even),
		body.woocommerce-page ul.products li.product:nth-child(even) {
			float: right;
			margin-right: 0;
		}

		body.woocommerce ul.products li.product.last {
			margin-right: 0;
		}

			.st-woo-hover {
			}

				body.woocommerce ul.products li.product h3,
				body.woocommerce-page ul.products li.product h3 {
				}

			.st-woo-price {
				width: 167px;
			}

	/*--- 22.3 - Single -----------------------*/

	.woocommerce #content div.product,
	.woocommerce div.product,
	.woocommerce-page #content div.product,
	.woocommerce-page div.product {
		margin-bottom: 15px;
		padding: 15px;
	}

		/* Images */
		.woocommerce #content div.product div.images,
		.woocommerce div.product div.images,
		.woocommerce-page #content div.product div.images,
		.woocommerce-page div.product div.images {
			width: 400;
			margin: 0 0 20px;
		}

		.woocommerce #content div.product div.thumbnails a,
		.woocommerce div.product div.thumbnails a,
		.woocommerce-page #content div.product div.thumbnails a,
		.woocommerce-page div.product div.thumbnails a {
			width: 80px;
		}

		.woocommerce span.onsale,
		.woocommerce-page span.onsale {
			left: 15px;
		}

		/* Summary */
		.woocommerce #content div.product div.summary,
		.woocommerce div.product div.summary,
		.woocommerce-page #content div.product div.summary,
		.woocommerce-page div.product div.summary {
			width: auto;
			margin: 0 0 25px;
		}

		/* Upsell */
		.st-woo-upsells ul.products {
			margin-right: 0;
		}

			.st-woo-upsells h2 {
				margin-bottom: 15px;
			}

		/* Related */
		.woocommerce .st-woo-related ul.products li.product:nth-child(3) {
			display: none;
		}

			.st-woo-related h2 {
				margin-bottom: 15px;
			}

			.st-woo-related ul.products {
				margin-right: 0;
			}

		/* Tabs */
		.woocommerce-tabs > div > h2:first-child,
		#reviews #comments h2 {
			padding-top: 0;
		}

	/*--- 22.8 - Widget: Product Search -------*/

	.sidebar .widget_product_search {
		padding: 20px;
	}

	/*--- 22.13 - Cart ------------------------*/

	.woocommerce table.shop_table,
	.woocommerce-page table.shop_table {
		margin-bottom: 15px;
	}

	.woocommerce .cart-collaterals .cross-sells,
	.woocommerce-page .cart-collaterals .cross-sells {
		width: 100%;
	}

		.st-woo-cross h2,
		.cart_totals h2,
		.shipping_calculator h2 {
			margin-bottom: 15px;
		}

		.woocommerce .cart-collaterals .cross-sells ul.products,
		.woocommerce-page .cart-collaterals .cross-sells ul.products {
			display: table;
			margin: 0 auto 15px;
		}

			.woocommerce .cart-collaterals .cross-sells ul.products li,
			.woocommerce-page .cart-collaterals .cross-sells ul.products li {
				width: 232px;
			}

	.woocommerce .cart-collaterals .cart_totals,
	.woocommerce-page .cart-collaterals .cart_totals,
	.woocommerce .cart-collaterals .shipping_calculator,
	.woocommerce-page .cart-collaterals .shipping_calculator {
		width: 100%;
	}

		.cart_totals {
			margin-bottom: 15px;
		}

	/*--- 22.14 - Alerts ----------------------*/

	.woocommerce .woocommerce-error,
	.woocommerce .woocommerce-info,
	.woocommerce .woocommerce-message,
	.woocommerce-page .woocommerce-error,
	.woocommerce-page .woocommerce-info,
	.woocommerce-page .woocommerce-message {
		margin-bottom: 15px !important;
	}

	/*--- 22.16 - Pagination ------------------*/

	.woocommerce #content nav.woocommerce-pagination ul,
	.woocommerce nav.woocommerce-pagination ul,
	.woocommerce-page #content nav.woocommerce-pagination ul,
	.woocommerce-page nav.woocommerce-pagination ul {
		margin-bottom: 0;
	}


	/*===========================================
		F O R M S
	===========================================*/

	/* none */


	/*===========================================
		P R O J E C T S
	===========================================*/

	#projects-selector {
		padding-top: 5px;
	}

	#projects-another,
	.projects-t5-wrapper {
		width: 480px;
	}

	.projects-t5-wrapper {
		margin-top: 25px;
	}

		.project-t5 {
			width: 232px;
			height: 165px;
			margin-right: 0;
			margin-bottom: 15px;
		}

			.project-t5.odd {
				float: left;
			}

			.project-t5.even {
				float: right;
			}

				.project-t5-front {
					width: 222px;
					height: 155px;
				}

				.project-t5-back {
					width: 232px;
					height: 165px;
				}

		.project-t5-rotated {
			display: none;
		}

		#button-projects {
			margin-bottom: 15px;
		}


	/*===========================================
		F O R M A T S
	===========================================*/

	.archive .st-format-status-holder {
		margin-bottom: 15px;
	}

	/*-- Authors page -------------------------*/

	.page-template-template-authors-php #article {
		margin-bottom: 15px;
	}

	.page-template-template-authors-php .st-format-status-holder {
		width: 100%;
		margin-bottom: 15px;
	}


	/*===========================================
		W P   R E V I E W
	===========================================*/

	.review-desc {
		width: auto;
		margin: 0;
		padding-bottom: 15px;
	}

	.review-total-wrapper {
		width: 100%;
	}


/**/}


@media only screen and ( max-width: 479px ) {
/*===============================================

	P H O N E   V
	320px/479px

===============================================*//**/

/*

	1 - LAYOUT

		- Header
		- Content
		- Footer

	2 - MENU

		- Primary
		- Secondary

	3 - SIDEBARS

		- Sidebar
		- Footer
		- Ad sidebars
		- Homepage Sidebars

	5 - COMMON

		- Titles
		- Attachment
		- Quotes
		- Fieldset

	6 - POSTS

		- Featured

	7 - WIDGETS

	8 - BUDDYPRESS

	9 - ICONS

		- Social

	10 - SHORTCODES

	11 - POST

	12 - SPECIAL

	13 - PAGINATION

	14 - ARCHIVE

	15 - BBPRESS

	16 - COMMENTS

	17 - 404

	18 - WOOCOMMERCE
	
	19 - FORMS

	20 - PROJECTS

	21 - FORMATS

	22 - WP REVIEW

*/

	/*===========================================
		L A Y O U T
	===========================================*/

	.boxed #layout {
		max-width: 350px;
	}

	/*--- Header ------------------------------*/

	#header {
	}

		#header-holder {
			width: auto;
		}
	
			#logo {
				float: none;
				width: auto;
				height: auto;
				margin: 0 auto;
				padding: 15px 0;
			}
	
				#logo h2 {
					max-width: 320px;
					margin: 0;
					text-align: center;
				}
	
					#logo h2 img {
						margin: 0 auto;
					}

		#header-holder-2 {
			width: auto;
		}

	/*--- Content -----------------------------*/

	#content-layout {
		width: 320px;
		margin: 0 auto;
	}

		#content-holder #content-box {
			float: none;
			width: 320px;
		}

			#content-box {
				min-height: 100px;
				padding: 15px 0;
			}

				.sidebar-secondary-available #content-box > div > div:first-child {
					width: 320px;
				}

		#content-holder div.post-single {
			float: none;
			width: 320px;
			margin: 0;
		}

		/* Frontpage v.2 */
		#article-frontpage-2 {
			margin-bottom: 15px;
		}

	/*--- Footer ------------------------------*/

	#footer-holder {
		width: 300px;
		padding-top: 25px;
		padding-bottom: 10px;
	}

		#footer-box {
			margin-right: -50px;
		}

	#copyrights-holder {
		width: 300px;
		padding: 10px;
	}

		#copyrights-box * {
			line-height: 1.575em;
		}

			#copyrights-box > div {
				width: 100%;
				text-align: center;
			}


	/*===========================================
		M E N U
	===========================================*/

	/*--- Primary -----------------------------*/

	#menu-select {
		display: block;
		margin-bottom: 15px;
	}

	#menu {
		float: none;
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding: 0;
	}

		#menu > div {
			display: block;
		}

			#menu-box {
				width: 320px;
				height: auto;
				margin: 0 auto;
			}
	
				ul.menu {
					display: none;
				}

	/*--- Secondary ---------------------------*/

	#menu-2 {
		display: table;
		margin: 0 auto;
	}

		ul.menu-2 {
			text-align: center;
		}

			ul.menu-2 > li {
				float: none;
			}

				ul.menu-2 > li > a {
					margin: 0 5px;
					padding: 11px 7px 10px;
				}
		
				ul.menu-2 > li.hasUl > a {
					padding-right: 7px;
				}
		
					ul.menu-2 > li.hasUl > a:before {
						display: none;
					}


	/*===========================================
		S I D E B A R S
	===========================================*/

	/*--- Sidebar -----------------------------*/

	#content-holder #sidebar {
		float: none;
		width: auto;
		padding: 0;
	}

		#content-holder .sidebar {
			margin: 0;
		}

			.sidebar .widget {
				padding: 15px;
			}

				.widget {
					margin-bottom: 15px;
				}

	#content-holder div.sidebar-post {
		position: relative;
		width: 290px;
	}

		.dark #content-holder div.sidebar-post {
			border-top-color: rgba(255,255,255,0.05);
		}

			.sidebar-post,
			.sidebar-post div {
				font-size: inherit;
			}
		
			#stickyDiv {
				position: relative !important;
				top: auto !important;
				width: 290px;
			}
	
				#stickyDiv > div {
					margin: 0 0 15px;
				}

	/*--- Footer ------------------------------*/

	#footer-box .sidebar-footer,
	#footer-box .sidebar-footer.last {
		float: none;
		width: 300px;
	}

		#footer-box .sidebar-footer > div,
		#footer-box .sidebar-footer.last > div {
			margin: 0;
		}

	/*--- Ad sidebars -------------------------*/

	.sidebar-ad-a .widget {
			width: 320px;
			margin: 0 auto;
			padding: 0;
		}
	
			.sidebar-ad-a .widget img {
				max-width: 320px;
			}
	
		.sidebar-ad-b {
			width: 320px;
			margin-top: 15px;
			padding: 0;
			border: none;
		}
	
			.sidebar-ad-b .widget {
				margin-bottom: 15px;
				padding: 0;
			}
	
				.sidebar-ad-b .widget img {
					max-width: 320px;
				}
	
		#sidebar-ad-c {
			width: auto;
			border: none;
		}
	
			#sidebar-ad-c .sidebar-ad-c {
				width: 320px;
				margin: 0 auto 15px;
				padding: 0;
				border: none;
			}
		
				#sidebar-ad-c .widget {
					width: auto;
					max-width: 100%;
					margin: 0 auto;
					padding: 0;
				}
		
					#sidebar-ad-c .widget img {
						max-width: 320px;
					}

	/*--- Secondary sidebars ------------------*/

	#sidebar-secondary {
		width: 320px;
		margin: 0 0 -15px;
		padding: 15px 0 0;
	}

	/*--- Frontpage Sidebars ------------------*/

	#sidebar-homepage-box {
	}

		#sidebar-homepage-box .sidebar-homepage,
		#sidebar-homepage-box .sidebar-homepage.last {
			width: 100%;
		}

			#sidebar-homepage-box .sidebar-homepage > div {
				margin: 0;
			}

	/*--- Post Sidebar ------------------------*/

	/* Post Sidebar by left side */
	.sidebar-position-right div.sidebar-post,
	.sidebar-position-none div.sidebar-post {
		left: auto;
	}
	
	/* Post Sidebar by right side */
	.sidebar-position-left div.sidebar-post {
		right: auto;
	}


	/*===========================================
		C O M M O N
	===========================================*/

	/*--- Titles -----------------------------*/

	h1 {
		font-size: 2.0em;
	}

	h2 {
		font-size: 1.7em;
	}

	h3 {
		font-size: 1.35em;
	}

	h4 {
		font-size: 1.15em;
	}

	h5 {
		font-size: 1em;
	}

	/*--- Attachment -------------------------*/

	.wp-caption.alignleft {
		margin-left: -20px;
	}

	.wp-caption.alignright {
		margin-right: -20px;
	}

	/*--- Quotes -----------------------------*/

	blockquote p {
		line-height: 1.535em;
	}

	/*--- Fieldset ---------------------------*/

	fieldset {
		padding: 10px 15px;
	}

	/*--- Paragraphs -------------------------*/

	p {
		margin-bottom: 0.5em;
	}


	/*===========================================
		P O S T S
	===========================================*/

	.post-template {
		margin-bottom: 15px;
		padding-bottom: 15px;
	}

	/*--- Default -----------------------------*/

	.post-default {
		padding-top: 15px;
		padding-bottom: 0;
	}

		.post-default:first-child {
			padding-top: 0;
		}
	
			.post-default .post-title {
				font-size: 1.7em;
			}
	
				.sticky.post-default .post-title:before {
					margin: 0 0 0.5em;
				}
	
			.post-default .meta {
				margin: 15px 0;
			}
	
			.post-default .content-data {
				padding: 15px;
		}

	/*--- Post t6 -----------------------------*/

	.post-template.post-t6 {
	}

		.post-t6 {
		}

			.post-t6.odd {
				float: none;
				margin: 0 auto 15px;
			}

			.post-t6.even {
				float: none;
				margin: 0 auto 15px;
			}
	
				.post-t6 .thumb-wrapper {
				}
	
				.post-t6-details {
					max-height: 115px;
				}
	
					.v2 .post-t6-yes-thumb .post-t6-details {
					}
		
				.post-t6-more {
				}
	
			/* If sidebar available */
			.sidebar-secondary-available .post-template.post-t6 {
			}

				.sidebar-secondary-available .post-t6 {
				}
			
					.sidebar-secondary-available .post-t6 .thumb-wrapper {
					}

					.sidebar-secondary-available .post-t6-details {
					}

						.sidebar-secondary-available .post-t6-details:after {
						}

					.sidebar-secondary-available .post-t6-more {
					}

			/* If sidebar disable */
			.sidebar-secondary-inactive .post-t6 {
			}

				.sidebar-secondary-inactive .post-t6.odd {
					float: none;
					margin: 0 auto 15px;
				}

				.sidebar-secondary-inactive .post-t6.even {
					float: none;
					margin: 0 auto 15px;
				}

					.sidebar-secondary-inactive .post-t6 .thumb-wrapper {
					}
	
						.sidebar-secondary-inactive .post-t6 a.post-thumb {
						}

					.sidebar-secondary-inactive .post-t6-yes-thumb .post-t6-details {
					}

			.sidebar-secondary-inactive .post-t6-no-thumb .post-t6-details {
			}

			/* W/out thumbnail */
			.post-t6-no-thumb {
			}

				.sidebar-secondary-available .post-t6-no-thumb:after {
				}
	
					.sidebar-secondary-available .post-t6-no-thumb .post-t6-details {
					}

						.post-t6-no-thumb .post-t6-details {
							max-height: 205px;
						}

							.post-t6-no-thumb h3 {
							}
	
					.sidebar-secondary-available .post-t6-no-thumb .meta {
					}

			/* On frontpage v.2 */
			.v2 {
				width: 320px;
				margin: 0 auto;
			}

				.v2 .post-t6 {
					margin: 0 auto 15px !important;
				}
	
					.v2 .post-t6.odd {
						float: none;
					}

					.v2 .post-t6.even {
						float: none;
					}

						.v2 .post-t6 .thumb-wrapper {
						}
		
							.v2 .post-t6 a.post-thumb {
							}

						.v2 .post-t6-yes-thumb .post-t6-details {
						}

				.v2 .post-t6-no-thumb .post-t6-details {
				}

	/*--- Sticky ------------------------------*/

	.posts-sticky {
		width: 320px;
		padding-top: 15px;
	}

		#posts-sticky:before {
			background-image: none !important;
		}

			.posts-sticky-a {
				width: 320px;
			}

				.post-sticky-recent {
					width: 320px;
					height: 228px;
					margin-bottom: 15px;
				}

					.post-sticky-recent a {
						width: 320px;
						height: 228px;
					}

						.post-sticky-recent a > div {
							padding: 25px;
						}

							.posts-sticky h1 {
								font-size: 1.7em;
							}

			.posts-sticky-b {
				width: 100%;
			}
	
	
				.post-sticky {
					margin: 0 auto 15px;
				}
	
					.posts-sticky .odd {
						float: none;
					}
		
					.posts-sticky .even {
						float: none;
					}

						.post-sticky a {
						}

	/*--- Most Viewed -------------------------*/

	#posts-most-viewed {
		width: 320px;
		margin-top: 15px;
	}

		.post-most-viewed {
			margin: 0 auto 15px;
			clear: left;
		}

			.post-most-viewed.odd {
				float: none;
			}

			.post-most-viewed.even {
				float: none;
			}

			#posts-most-viewed > div.last {
				margin-right: auto;
			}

	/*--- Related -----------------------------*/

	.posts-related-wrapper {
		padding-top: 25px;
	}

		.posts-related-wrapper h6 {
			margin-bottom: 25px;
		}

		.posts-related-2-wrapper div.posts-related-post-wrapper {
			width: 224px;
		}

			.posts-related-2-wrapper a.post-thumb {
				height: 158px;
			}

				.posts-related-2-wrapper a.post-thumb:before,
				.posts-related-2-wrapper a.post-thumb:after {	
					font-size: 24px;
				}

		.posts-related-3-wrapper div.posts-related-post-wrapper {
		}

			.posts-related-wrapper td {
				display: block;
				width: 100%;
				margin: 0 auto 15px;
			}

				.posts-related-wrapper div.posts-related-post-wrapper.first,
				.posts-related-wrapper div.posts-related-post-wrapper.last {
					margin: 0 auto;
				}

					.posts-related-3-wrapper a.post-thumb {
					}
		
						.posts-related-3-wrapper a.post-thumb:before,
						.posts-related-3-wrapper a.post-thumb:after {	
							font-size: 24px;
						}

					.posts-related-wrapper div.posts-related-post-wrapper > div {
						height: auto !important;
					}

						.posts-related-details-wrapper > div h5 {
							padding: 15px;
						}


	/*===========================================
		W I D G E T S
	===========================================*/

	#sidebar .widget-posts,
	#sidebar .widget_search {
		padding: 20px;
	}


	/*===========================================
		B U D D Y P R E S S
	===========================================*/

	#buddypress .activity-list li.load-more {
		padding-top: 15px;
	}

	#item-nav {
		margin-bottom: 15px;
	}

	.single-item #item-header-content,
	.bp-user #item-header {
		padding-bottom: 5px;
	}

	#buddypress div.item-list-tabs,
	#search-groups-form input,
	#buddypress div.dir-search input[type="text"],
	#buddypress div.message-search input[type="text"],
	#buddypress input[type="submit"],
	#buddypress input[type="button"],
	#buddypress input[type="reset"],
	#buddypress button.submit {
		font-size: 12px;
	}

	/*-- Primary level ------------------------*/

	#item-nav {
		padding: 15px;
	}

	/*-- Secondary level ----------------------*/
	
	#buddypress div#subnav.item-list-tabs ul li.last {
		position: relative;
	}

	/*--- Search ------------------------------*/
	
	#buddypress div.dir-search,
	#buddypress div.message-search {
		margin: 0 0 15px;
	}

		#buddypress div.dir-search input[type="text"],
		#buddypress div.message-search input[type="text"] {
			width: 243px;
			padding-top: 0.9em;
			padding-bottom: 0.9em;
		}

		#buddypress div.dir-search input[type="text"],
		#buddypress div.message-search input[type="text"],
		#buddypress #search-members-form input[type="text"] {
			width: 241px;
		}

	#buddypress div#subnav.item-list-tabs ul li.groups-members-search {
		display: block;
	}

		#buddypress div#subnav.item-list-tabs ul li.groups-members-search #members_search {
			width: 241px;
			margin-bottom: 15px;
		}

	/*--- Profile -----------------------------*/

	.single-item #item-header-content,
	#item-header {
		width: auto;
		padding-bottom: 5px;
	}

		#item-header-avatar > a {
			width: 75px;
			height: 75px;
		}

	/*-- Other --------------------------------*/

	.activity-type-tabs {
		padding: 15px;
	}


	/*===========================================
		I C O N S
	===========================================*/

	/*--- Social ------------------------------*/

	.icons-social {
		display: table;
		float: none;
		width: auto;
		margin: 0 auto;
	}


	/*===========================================
		S H O R T C O D E S
	===========================================*/

	/*--- Columns -----------------+-----------*/

	.column {
		float: none;
		width: auto !important;
	}

		.column > div {
			margin-right: 0 !important;
		}

	/*--- Icon Box ----------------------------*/

	.st_icon_box_16:before {
		top: 0.60em;
	}

	.st_icon_box_32:before {
		top: 0.2em;
	}

	/*--- Pull Quotes -------------------------*/

	.pullquote {
		line-height: 1.535;
		margin-bottom: 10px;
		padding: 10px 15px 15px;
	}

		.pullquote-left {
			margin-right: 10px;
		}

		.pullquote-right {
			margin-left: 10px;
		}

	/*--- Notice ------------------------------*/

	.notice {
		padding: 20px 25px 15px;
	}

	.notice-frontpage {
		font-size: 1em;
		padding: 25px;
	}

		.notice-frontpage p {
			margin-bottom: 1em;
		}

	/*--- Tabs --------------------------------*/

	.st-ul li {
		padding: 5px 15px;
	}

	.st-tabs {
		padding: 15px;
	}

	/*--- Toggle --------------------------------*/

	.toggle-title,
	.toggle-box {
		padding: 15px;
	}

	/*--- Separator OR ------------------------*/

	.separator-or {
		margin-bottom: 15px;
	}


	/*===========================================
		P O S T
	===========================================*/

	h1.post-title {
		font-size: 2.0em;
		letter-spacing: -0.02em;
		margin-bottom: 0;
	}

	.page-title {
		font-size: 2.0em;
		letter-spacing: -0.02em;
		margin-bottom: 15px;
	}

	#article {
		padding: 15px;
	}

		.sidebar-position-right #article.sidebar-post-enabled,
		.sidebar-position-none #article.sidebar-post-enabled {
			padding-left: 15px;
		}

		.sidebar-position-left #article.sidebar-post-enabled {
			padding-right: 15px;
		}

	.post-short-info {
		padding-left: 15px;
		padding-right: 15px;
	}

	#pre_next_post {
		width: 300px;
		font-size: 1em;
		line-height: 1.54em;
		margin-top: 15px;
		margin-left: auto;
		margin-right: auto;
	}

	#title-after {
		padding-bottom: 15px;
	}

	#post-before {
		padding: 15px 15px 0;
	}

	#post-after {
		padding: 0 15px 15px;
	}

	.single-author-info {
		padding: 15px 0 0 100px;
	}

		.single-author-upic {
			width: 75px;
			height: 75px;
			float: left;
			margin: 0 0 0 -100px;
		}

			.single-author-upic img {
				width: 75px;
				height: 75px;
			}


	/*===========================================
		S P E C I A L
	===========================================*/

	.alignleft {
		margin-right: 10px;
	}

	.alignright {
		margin-left: 10px;
	}


	/*===========================================
		P A G I N A T I O N
	===========================================*/

	/*--- Page pagination ---------------------*/

	.page-pagination {
		margin: 15px 0;
	}


	/*===========================================
		A R C H I V E
	===========================================*/

	#term {
		margin-bottom: 15px;
	}


	/*===========================================
		B B P R E S S
	===========================================*/

	#bbpress-forums ul.bbp-replies {
		font-size: 14px;
	}

	.bbp-header {
		display: none;
	}

	#bbpress-forums li.bbp-header,
	#bbpress-forums li.bbp-body ul.forum,
	#bbpress-forums li.bbp-body ul.topic {
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.bbp-forum-topic-count,
	.bbp-forum-reply-count,
	.bbp-topic-voice-count,
	.bbp-topic-reply-count {
		display: none;
	}

	li.bbp-forum-info,
	li.bbp-topic-title {
		float: none;
		width: auto;
	}

	#bbpress-forums li.bbp-forum-freshness,
	#bbpress-forums li.bbp-topic-freshness {
		float: none;
		width: auto;
		text-align: inherit;
	}

		#bbpress-forums .type-forum li.bbp-forum-freshness,
		#bbpress-forums .type-forum li.bbp-topic-freshness {
			margin-left: 34px;
		}

			#bbpress-forums li.bbp-forum-freshness .bbp-topic-meta,
			#bbpress-forums li.bbp-topic-freshness .bbp-topic-meta {
				display: inline;
				margin-top: 0;
			}

	#bbpress-forums ul.bbp-lead-topic, 
	#bbpress-forums ul.bbp-topics,
	#bbpress-forums ul.bbp-forums,
	#bbpress-forums ul.bbp-replies,
	#bbpress-forums ul.bbp-search-results,
	#bbpress-forums > #subscription-toggle,
	.bbp-pagination .bbp-pagination-links span,
	.bbp-pagination .bbp-pagination-links a,
	div.bbp-template-notice.info {
		margin-bottom: 15px;
	}


	div.bbp-template-notice.info,
	div.bbp-template-notice {
		padding: 1em;
	}

	.bbp-body li.bbp-forum-info > a,
	.bbp-body li.bbp-topic-title > a {
		font-size: 1em;
	}

	.sidebar .widget.widget_display_search {
		padding: 20px;
	}
	
	#content-parent fieldset.bbp-form,
	#container fieldset.bbp-form,
	#wrapper fieldset.bbp-form {
		padding: 0 15px 15px;
	}

	/*--- Reply -------------------------------*/

	div.bbp-forum-header,
	div.bbp-topic-header,
	div.bbp-reply-header,
	li.bbp-body div.hentry {
		padding: 15px 0 0;
	}

		#bbpress-forums div.bbp-forum-header,
		#bbpress-forums div.bbp-topic-header,
		#bbpress-forums div.bbp-reply-header {
			margin-top: 0;
		}

		#bbpress-forums div.bbp-forum-author,
		#bbpress-forums div.bbp-topic-author,
		#bbpress-forums div.bbp-reply-author {
			float: none;
			display: table;
			text-align: center;
			width: 100%;
			padding: 15px 0;
		}

			#bbpress-forums div.bbp-forum-author > a img,
			#bbpress-forums div.bbp-topic-author > a img,
			#bbpress-forums div.bbp-reply-author > a img {
				width: 50px;
				height: 50px;
			}

	#bbpress-forums div.reply {
		padding-top: 15px;
	}

		#bbpress-forums div.bbp-forum-content,
		#bbpress-forums div.bbp-topic-content,
		#bbpress-forums div.bbp-reply-content {
			margin-left: 0;
			padding: 0;
		}

	#bbpress-forums div.bbp-reply-author img.avatar {
		position: inherit;
	}


	/*===========================================
		C O M M E N T S
	===========================================*/

	#comments,
	#respond {
		width: 300px;
		margin: 0 auto;
	}

		.comments-title {
			width: 300px;
			margin-left: auto;
			margin-right: auto;
			padding-top: 25px;
		}
	
		#respond {
			padding-top: 0;
		}
	
		#comments .children {
			margin: 0;
		}
	
		.comment-top-level .comment-box,
		.comment-low-level .comment-box {
			padding-left: 0;
		}
	
			.avatar-box {
				float: right;
				margin-left: 1em;
			}
	
		.comment-top-level .comment-box,
		#comments > li {
			margin-bottom: 15px;
		}
	
		#commentform {
			padding-bottom: 15px;
		}


	/*===========================================
		4 0 4
	===========================================*/

	.error404 #content-box {
		padding-bottom: 15px;
	}

		#content-404.notice {
			margin-bottom: 25px;
			padding: 25px 100px 25px 25px;
		}

			#page-404 h1 {
				padding-bottom: 10px;
			}


	/*===========================================
		W O O C O M M E R C E
	===========================================*/

	/*--- 22.2 - Catalog ----------------------*/

	.woocommerce .woocommerce-ordering,
	.woocommerce .woocommerce-result-count,
	.woocommerce-page .woocommerce-ordering,
	.woocommerce-page .woocommerce-result-count {
		float: none;
		display: table;
		margin: 0 auto 15px;
		padding: 0;
	}

	.woocommerce ul.products li.product {
		float: none;
		margin: 0 auto 15px;
		clear: both;
	}

		.woocommerce ul.products li.product:nth-child(2n),
		.woocommerce-page ul.products li.product:nth-child(2n) {
			float: none;
		}

		.woocommerce ul.products li.product.last {
			margin-right: auto;
		}

	/*--- 22.3 - Single -----------------------*/

	.woocommerce #content div.product,
	.woocommerce div.product,
	.woocommerce-page #content div.product,
	.woocommerce-page div.product {
		margin-bottom: 15px;
		padding: 15px;
	}

		/* Images */
		.woocommerce #content div.product div.images,
		.woocommerce div.product div.images,
		.woocommerce-page #content div.product div.images,
		.woocommerce-page div.product div.images {
			width: 290px;
			margin: 0 0 20px;
		}

		.woocommerce #content div.product div.thumbnails a,
		.woocommerce div.product div.thumbnails a,
		.woocommerce-page #content div.product div.thumbnails a,
		.woocommerce-page div.product div.thumbnails a {
			width: 58px;
		}

		.woocommerce span.onsale,
		.woocommerce-page span.onsale {
			left: 15px;
		}

		/* Summary */
		.woocommerce #content div.product div.summary,
		.woocommerce div.product div.summary,
		.woocommerce-page #content div.product div.summary,
		.woocommerce-page div.product div.summary {
			width: auto;
			margin: 0 0 25px;
		}

		/* Upsell */
		.st-woo-upsells ul.products {
			margin-right: 0;
		}

			.woocommerce .st-woo-upsells ul.products li.product {
				margin-bottom: 15px;
			}
	
			.st-woo-upsells h2 {
				margin-bottom: 15px;
			}

		/* Related */
		.st-woo-related ul.products {
			margin-right: 0;
		}

		.woocommerce .st-woo-related ul.products li.product {
			margin: 0  auto 15px;
		}

			.woocommerce .st-woo-related ul.products li.product:last-child {
				margin-bottom: 0;
			}

		.st-woo-related h2 {
			margin-bottom: 15px;
		}

		/* Tabs */
		.woocommerce-tabs > div > h2:first-child,
		#reviews #comments h2 {
			padding-top: 0;
		}

	/*--- 22.8 - Widget: Product Search -------*/

	.sidebar .widget_product_search {
		padding: 20px;
	}

	/*--- 22.13 - Cart ------------------------*/

	.woocommerce table.shop_table,
	.woocommerce-page table.shop_table {
		margin-bottom: 15px;
	}

	.woocommerce .cart-collaterals .cross-sells,
	.woocommerce-page .cart-collaterals .cross-sells {
		width: 100%;
	}

		.st-woo-cross h2,
		.cart_totals h2,
		.shipping_calculator h2 {
			margin-bottom: 15px;
		}

		.woocommerce .cart-collaterals .cross-sells ul.products,
		.woocommerce-page .cart-collaterals .cross-sells ul.products {
			display: table;
			margin: 0 auto 15px;
		}

			.woocommerce .cart-collaterals .cross-sells ul.products li.product:first-child,
			.woocommerce-page .cart-collaterals .cross-sells ul.products li.product:first-child {
				margin-bottom: 15px;
			}

	.woocommerce .cart-collaterals .cart_totals,
	.woocommerce-page .cart-collaterals .cart_totals,
	.woocommerce .cart-collaterals .shipping_calculator,
	.woocommerce-page .cart-collaterals .shipping_calculator {
		width: 100%;
	}

		.cart_totals {
			margin-bottom: 15px;
		}

	/*--- 22.14 - Alerts ----------------------*/

	.woocommerce .woocommerce-error,
	.woocommerce .woocommerce-info,
	.woocommerce .woocommerce-message,
	.woocommerce-page .woocommerce-error,
	.woocommerce-page .woocommerce-info,
	.woocommerce-page .woocommerce-message {
		margin-bottom: 15px !important;
	}

	/*--- 22.16 - Pagination ------------------*/

	.woocommerce #content nav.woocommerce-pagination ul,
	.woocommerce nav.woocommerce-pagination ul,
	.woocommerce-page #content nav.woocommerce-pagination ul,
	.woocommerce-page nav.woocommerce-pagination ul {
		margin-bottom: 0;
	}


	/*===========================================
		F O R M S
	===========================================*/

	/* none */


	/*===========================================
		P R O J E C T S
	===========================================*/

	#projects-selector {
		padding-top: 5px;
	}

	#projects-another,
	.projects-t5-wrapper {
		width: 320px;
	}

	.projects-t5-wrapper {
		margin-top: 25px;
	}

		.project-t5 {
			margin: 0 auto 15px !important;
		}

			.project-t5.odd {
				float: none;
			}

			.project-t5.even {
				float: none;
			}

		.project-t5-rotated {
			display: none;
		}

		#button-projects {
			margin-bottom: 15px;
		}


	/*===========================================
		F O R M A T S
	===========================================*/

	.archive .st-format-status-holder {
		margin-bottom: 15px;
	}

	/*-- Authors page -------------------------*/

	.page-template-template-authors-php #article {
		margin-bottom: 15px;
	}

	.page-template-template-authors-php .st-format-status-holder {
		width: 100%;
		margin-bottom: 15px;
	}


	/*===========================================
		W P   R E V I E W
	===========================================*/

	.review-desc {
		width: auto;
		margin: 0;
		padding-bottom: 15px;
	}

	.review-total-wrapper {
		width: 100%;
	}

		.review-total-wrapper span.review-total-box {
			text-align: right;
		}

	div.review-total-star {
		position: relative;
		top: auto;
		right: auto;
	}

/**/}